__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
logs/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

*.log
orchestrator.log

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

Thumbs.db
desktop.ini
$RECYCLE.BIN/
.DS_Store

node_modules/
npm-debug.log*